/* Start Variables */

:root {
    --main-color: #E45F4E;
    --title-color: #262626;
    --para-color: #848484;
}

/* End Variables */

/* Start Global Rules */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Raleway", sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Roboto", sans-serif;
}

p {
    line-height: 1.5;
}

.container {
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* End Global Rules */

/* Start Component */
/* End Component */

/* Start Header */

/* Start Follow */

header .follow {
    background-color: var(--title-color, #262626);
    color: white;
    padding: 5px 0;
}

header .follow .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 991px) {
    header .follow .container {
        flex-direction: column;
        gap: 10px;
    }
}

header .follow .container .open,
header .follow .socials {
    display: flex;
    align-content: center;
}

header .follow .open span {
    display: block;
    margin-left: 5px;
    line-height: 1.5;
}

header .follow .socials {
    display: flex;
    align-items: center;
}

header .follow .socials p {
    margin-right: 10px;
}

header .follow .socials a {
    display: block;
    color: white;
    margin-right: 15px;
}

/* End Follow */

/* Start Sec */

header .sec {
    padding: 10px 0;
}

header .sec .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width:991px) {
    header .sec .container {
        justify-content: center;
    }
}

@media (max-width:991px) {
    header .sec .logo {
        display: none;
    }
}

header .logo a {
    display: block;
    color: var(--title-color, #262626);
    font-size: 39px;
    font-weight: 700;
    font-style: italic;
}

header .logo a span {
    color: var(--main-color, #E45F4E);
}

header .cont {
    display: flex;
    justify-content: center;
    align-items: center;
}

header .sec .cont div {
    padding: 10px;
    text-align: center;
}

header .sec .cont div:nth-child(2) {
    border-width: 1px;
    border-style: solid;
    border-color: transparent #dee2e6;
}

header .sec .cont div h6 {
    font-size: 16px;
    margin-bottom: 10px;
}

header .sec .cont div p {
    color: var(--para-color, #848484);
}

/* End Sec */

/* End Header */