/* Start Variables */

:root {
    --main-color: #E45F4E;
    --title-color: #262626;
    --para-color: #848484;
    --section-padd: 100px;
    --trans-dur: 0.3s;
}

/* End Variables */

/* Start Global Rules */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Raleway", sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Roboto", sans-serif;
}

p {
    line-height: 1.5;
}

.container {
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* End Global Rules */

/* Start Component */

h5.main-title {
    font-size: 20px;
    text-align: center;
    color: var(--main-color, #E45F4E);
    text-transform: uppercase;
}

h5.main-title+h1 {
    font-size: 39px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 50px;
}

@media (max-width: 576px) {
    h5.main-title+h1 {
        font-size: 30px;
    }
}

a.comp {
    text-transform: uppercase;
    color: white;
    display: block;
    width: fit-content;
    background-color: var(--main-color, #E45F4E);
    padding: 15px 20px;
    transition: var(--trans-dur, 0.3s);
    -webkit-transition: var(--trans-dur, 0.3s);
    -moz-transition: var(--trans-dur, 0.3s);
    -ms-transition: var(--trans-dur, 0.3s);
    -o-transition: var(--trans-dur, 0.3s);
}

a.comp:hover {
    background-color: #c7321e;
}

/* End Component */

/* Start Header */

/* Start Follow */

header .follow {
    background-color: var(--title-color, #262626);
    color: white;
    padding: 5px 0;
}

header .follow .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 991px) {
    header .follow .container {
        flex-direction: column;
        gap: 10px;
    }
}

header .follow .container .open,
header .follow .socials {
    display: flex;
    align-content: center;
}

header .follow .open span {
    display: block;
    margin-left: 5px;
    line-height: 1.5;
}

header .follow .socials {
    display: flex;
    align-items: center;
}

header .follow .socials p {
    margin-right: 10px;
}

header .follow .socials a {
    display: block;
    color: white;
    margin-right: 15px;
}

/* End Follow */

/* Start Sec */

header .sec {
    padding: 10px 0;
}

header .sec .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width:991px) {
    header .sec .container {
        justify-content: center;
    }
}

@media (max-width:991px) {
    header .sec .logo {
        display: none;
    }
}

header .logo a {
    display: block;
    color: var(--title-color, #262626);
    font-size: 39px;
    font-weight: 700;
    font-style: italic;
}

@media (max-width: 350px) {
    header .logo a {
        font-size: 25px;
    }
}

header .logo a span {
    color: var(--main-color, #E45F4E);
}

header .cont {
    display: flex;
    justify-content: center;
    align-items: center;
}

header .sec .cont div {
    padding: 10px;
    text-align: center;
}

header .sec .cont div:nth-child(2) {
    border-width: 1px;
    border-style: solid;
    border-color: transparent #dee2e6;
}

header .sec .cont div h6 {
    font-size: 16px;
    margin-bottom: 10px;
}

header .sec .cont div p {
    color: var(--para-color, #848484);
}

/* End Sec */

/* Start List */

header .list {
    background-color: var(--title-color, #262626);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (min-width: 991px) {
    header .list {
        display: none;
    }
}

header .list .logo a {
    color: white;
}

header .list .meun {
    position: relative;
}

header .list .meun .icon {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 40px;
    height: 31px;
    border: 1px solid #3c3c3c;
    cursor: pointer;
}

header .list .meun .icon span {
    background-color: rgba(255, 255, 255, 0.5);
    width: 90%;
    height: 3px;
    display: block;
}

header .list .meun ul {
    position: absolute;
    left: -90px;
    top: 100%;
    background-color: var(--title-color, #262626);
    width: 130px;
    opacity: 0;
    z-index: -1;
    transition: var(--trans-dur, 0.3s);
    -webkit-transition: var(--trans-dur, 0.3s);
    -moz-transition: var(--trans-dur, 0.3s);
    -ms-transition: var(--trans-dur, 0.3s);
    -o-transition: var(--trans-dur, 0.3s);
}

header .list .meun:hover ul {
    z-index: 1;
    opacity: 1;
}

header .list .meun ul li a {
    display: block;
    text-transform: capitalize;
    padding: 10px;
    color: white;
    text-align: center;
    transition: var(--trans-dur, 0.3s);
    -webkit-transition: var(--trans-dur, 0.3s);
    -moz-transition: var(--trans-dur, 0.3s);
    -ms-transition: var(--trans-dur, 0.3s);
    -o-transition: var(--trans-dur, 0.3s);
}

header .list .meun ul li a:hover {
    color: var(--main-color, #E45F4E);
    padding-left: 15px;
}

/* End List */

/* End Header */

/* Start Landing */

.landing {
    position: relative;
    background-image: url(../photos/carousel-1.jpg);
    background-position: center center;
    height: calc(100vh - 129px);
}

@media (min-width: 1199px) {
    .landing {
        height: 100vh;
    }
}

.landing::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 27%);
}

.landing .content {
    position: relative;
    height: 100%;
}

.landing .content ul.main {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

@media (max-width: 991px) {
    .landing .content ul.main {
        display: none;
    }
}

.landing .content ul.main>li>a,
.landing .content ul li.bb {
    display: block;
    color: white;
    text-transform: capitalize;
    font-weight: bold;
    letter-spacing: 1px;
    width: fit-content;
    margin-right: 30px;
    position: relative;
    cursor: pointer;
    transition: var(--trans-dur, 0.3s);
    -webkit-transition: var(--trans-dur, 0.3s);
    -moz-transition: var(--trans-dur, 0.3s);
    -ms-transition: var(--trans-dur, 0.3s);
    -o-transition: var(--trans-dur, 0.3s);
}

.landing .content ul.main>li>a:hover,
.landing .content ul li.bb:hover {
    color: var(--main-color, #E45F4E);
}

.landing .content .sub-list {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    background-color: white;
    width: 120px;
    transition: var(--trans-dur, 0.3s);
    -webkit-transition: var(--trans-dur, 0.3s);
    -moz-transition: var(--trans-dur, 0.3s);
    -ms-transition: var(--trans-dur, 0.3s);
    -o-transition: var(--trans-dur, 0.3s);
}

.landing .content li.bb:hover .sub-list {
    display: block;
}

.landing .content .sub-list a {
    display: block;
    color: black;
    padding: 10px 0;
    transition: var(--trans-dur, 0.3s);
    -webkit-transition: var(--trans-dur, 0.3s);
    -moz-transition: var(--trans-dur, 0.3s);
    -ms-transition: var(--trans-dur, 0.3s);
    -o-transition: var(--trans-dur, 0.3s);
    padding: 15px 10px;
}

.landing .content .sub-list a:hover {
    background-color: var(--main-color, #E45F4E);
    color: white;
}

.landing .content .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
}

.landing .text h4 {
    font-size: 24px;
    color: var(--main-color, #E45F4E);
    text-transform: uppercase;
    font-weight: 700;
}

.landing .text h1 {
    font-size: 54px;
    color: white;
    text-transform: uppercase;
}

@media (max-width: 768px) {
    .landing .text h1 {
        font-size: 40px;
    }
}

.landing .text a {
    margin: 0 auto;

}

/* End Landing */

/* Start Three Boxes */

.three-boxes .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 991px) {
    .three-boxes .container {
        flex-direction: column;
        width: auto;
        padding: 50px 0;
    }
}

.three-boxes .box {
    padding: 60px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

@media (max-width: 991px) {
    .three-boxes .box {
        padding: 10px 20px;
    }
}

.three-boxes .box:nth-child(2) {
    border-width: 1px;
    border-style: solid;
    border-color: transparent #dee2e6;
}

@media (max-width: 991px) {
    .three-boxes .box:nth-child(2) {
        border-color: #dee2e6 transparent;
    }
}

.three-boxes .box img {
    width: 70px;
}

.three-boxes .box .text {
    padding: 15px;
}

.three-boxes .box h5 {
    font-size: 20px;
    color: var(--title-color, #262626);
    margin-bottom: 20px;
    text-transform: uppercase;
}

@media (min-width: 991px) {
    .three-boxes .box h5 {
        text-align: center;
    }
}

.three-boxes .box p {
    color: var(--para-color, #848484);
}

/* End Three Boxes */

/* Start About */

.about {
    display: flex;
    align-items: center;
    background-color: #f6f6f6;
}

@media (max-width: 991px) {
    .about {
        flex-direction: column;
        align-items: flex-start;
    }
}

@media (max-width: 991px) {
    .about .image {
        width: 100%;
    }
}

.about .image img {
    width: 100%;
    vertical-align: top;
}

.about .text {
    padding: 0 30px;
}

@media (max-width: 991px) {
    .about .text {
        padding: 30px;
    }
}

.about .text .up {
    margin-bottom: 30px;
}

.about .text .up h5 {
    color: var(--main-color, #E45F4E);
    font-size: 20px;
}

.about .text .up h1 {
    font-size: 39px;
    color: var(--title-color, #262626);
    text-transform: uppercase;
    margin-bottom: 10px;
}

.about .text .up p {
    color: var(--para-color, #848484);
}

.about .text .main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 576px) {
    .about .text .main {
        flex-direction: column;
    }
}

.about .text .main .option {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.about .text .option img {
    width: 70px;
}

.about .text .option h5 {
    font-size: 20px;
    color: var(--title-color, #262626);
    text-transform: uppercase;
}

.about .text .option p {
    color: var(--para-color, #848484);
}

.about .text a {
    margin-top: 20px;
}

/* End About */

/* Start Services */

.services {
    padding-top: var(--section-padd, 100px);
    padding-bottom: var(--section-padd, 100px);
}

.services .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.services .container .serv {
    flex-basis: calc((100% - 30px) / 3);
    padding: 10px 15px;
    border: 1px solid #dfdfdf;
}

@media (max-width: 991px) {
    .services .container .serv {
        flex-basis: calc((100% - 30px) / 2);
        margin-bottom: 30px;
    }
}

@media (max-width: 768px) {
    .services .container .serv {
        flex-basis: 80%;
        margin: 0 auto 30px;
    }
}

@media (max-width: 576px) {
    .services .container .serv {
        flex-basis: 100%;
    }
}

.services .serv .image>img {
    width: 100%;
    vertical-align: top;
}

.services .serv .image .text {
    display: flex;
    align-items: center;
    background-color: var(--title-color, #262626);
}

.services .serv .image .text img {
    background-color: var(--main-color, #E45F4E);
    width: 40px;
    padding: 5px;
}

.services .serv .image .text h6 {
    margin: 0;
    flex: 1;
    font-size: 16px;
    color: white;
    text-transform: uppercase;
    padding: 0 10px;
}

.services .serv p {
    padding: 20px;
    background-color: #f7f7f7;
    color: var(--para-color, #848484);
}

/* End Services */

/* Start Facts */

.facts {
    padding-top: calc(var(--section-padd, 100px) / 2);
    padding-bottom: calc(var(--section-padd, 100px) / 2);
    background-color: var(--main-color, #E45F4E);
}

.facts .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.facts .container .box {
    flex-basis: calc((100% - 30px) / 4);
    text-align: center;
    color: white;
    padding: 15px;
}

@media (max-width: 991px) {
    .facts .container .box {
        flex-basis: calc((100% - 30px) / 2);
        margin-bottom: 40px;
    }
}

@media (max-width: 576px) {
    .facts .container .box {
        flex-basis: 100%;
    }
}

.facts .box .icon {
    width: 50px;
    height: 50px;
    border: 1px solid white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 30px;
}

.facts .box h4 {
    font-size: 53px;
    margin-bottom: 10px;
}

.facts .box span {
    font-size: 16px;
    display: block;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: -1px;
}

/* End Facts */

/* Start Features */

.features {
    padding-top: var(--section-padd, 100px);
    padding-bottom: var(--section-padd, 100px);
}

.features .container {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 991px) {
    .features .container {
        flex-direction: column;
    }
}

.features .main {
    padding: 0 10px;
    flex-basis: 49%;
}

@media (max-width: 991px) {
    .features .main {
        margin-bottom: 50px;
    }
}

.features .main h5,
.features .main h1 {
    text-align: left;
}

.features .main h1 {
    margin-bottom: 20px;
}

.features .main .image {
    padding: 20px;
    border: 1px solid #dee2e6;
}

.features .main .image img {
    width: 100%;
}

.features .main p {
    margin: 20px 0;
    color: var(--para-color, #848484);
}

.features .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-basis: 50%;
}

.features .boxes .feature {
    flex-basis: calc((100% - 30px) / 2);
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .features .boxes .feature {
        flex-basis: 90%;
        margin: 0 auto 20px;
    }
}

@media (max-width: 576px) {
    .features .boxes .feature {
        flex-basis: 100%;
    }
}

.features .boxes .feature .head {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.features .boxes .feature .head img {
    background-color: var(--main-color, #E45F4E);
    width: 40px;
    padding: 5px;
}

.features .boxes .feature .head h6 {
    font-size: 16px;
    color: var(--title-color, #262626);
    margin-left: 10px;
    text-transform: uppercase;
}

.features .boxes .feature p {
    color: var(--para-color, #848484);
}

/* End Features */

/* Start Subscribe */

.subscribe {
    background-color: var(--main-color, #E45F4E);
    padding-top: calc(var(--section-padd, 100px) / 2);
    padding-bottom: calc(var(--section-padd, 100px) / 2);
    text-align: center;
    color: white;
}

.subscribe h1 {
    font-size: 39px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .subscribe h1 {
        font-size: 32px;
    }
}

.subscribe p {
    margin-bottom: 30px;
}

.subscribe .put {
    position: relative;
    width: 40%;
    margin: 0 auto;
}

@media (max-width: 991px) {
    .subscribe .put {
        width: 50%;
    }
}

@media (max-width: 768px) {
    .subscribe .put {
        width: 70%;
    }
}

@media (max-width: 576px) {
    .subscribe .put {
        width: 90%;
    }
}

.subscribe .put input {
    width: 100%;
    padding: 10px;
}

.subscribe .put input:focus {
    outline: none;
}

.subscribe .put button {
    position: absolute;
    top: 0;
    right: 0;
    width: fit-content;
    padding: 10px;
    border-color: transparent;
    background-color: var(--title-color, #262626);
    color: white;
    cursor: pointer;
    transition: var(--trans-dur, 0.3s);
    -webkit-transition: var(--trans-dur, 0.3s);
    -moz-transition: var(--trans-dur, 0.3s);
    -ms-transition: var(--trans-dur, 0.3s);
    -o-transition: var(--trans-dur, 0.3s);
}

.subscribe .put button:hover {
    background-color: black;
}

/* End Subscribe */

/* Start Team */

.team {
    padding-top: var(--section-padd, 100px);
    padding-bottom: var(--section-padd, 100px);
}

.team .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.team .member {
    flex-basis: calc((100% - 30px) / 2);
    display: flex;
    align-items: center;
}

@media (max-width: 991px) {
    .team .member {
        flex-basis: 100%;
    }
}

.team .member .text {
    padding: 20px;
    flex-basis: 50%;
}

@media (max-width: 576px) {
    .team .member .text {
        padding: 10px;
    }
}

.team .member .text.right {
    text-align: right;
}

.team .member .text h6 {
    font-size: 16px;
    color: var(--title-color, #262626);
    margin-bottom: 10px;
    text-transform: uppercase;
}

.team .member .text span {
    display: block;
    color: #6c757d;
    margin-bottom: 10px;
}

.team .member .text p {
    color: var(--para-color, #848484);
}

.team .member .text .social {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.team .member .text.right .social {
    justify-content: flex-end;
}

.team .member .text .social a {
    display: block;
    margin-right: 15px;
    color: var(--main-color, #E45F4E);
    cursor: pointer;
    transition: var(--trans-dur, 0.3s);
    -webkit-transition: var(--trans-dur, 0.3s);
    -moz-transition: var(--trans-dur, 0.3s);
    -ms-transition: var(--trans-dur, 0.3s);
    -o-transition: var(--trans-dur, 0.3s);
}

.team .member .text .social a:hover {
    color: #c7321e;
}

.team .member .image {
    flex-basis: 50%;
    border: 1px solid #dee2e6;
    padding: 10px;
}

.team .member img {
    width: 100%;
}

/* End Team */