/* Start Variables */

:root {
    --main-color: #E45F4E;
    --title-color: #262626;
    --para-color: #848484;
    --section-padd: 100px;
    --trans-dur: 0.3s;
}

/* Start Header */

header .list.sub-page {
    display: flex;
}


@media (min-width: 991px) {

    header .list.sub-page .logo {
        display: none;
    }

    header .list.sub-page .icon {
        display: none;
    }

    header .list.sub-page .meun {
        width: 100%;
    }

    header .list.sub-page .meun ul {
        z-index: 1;
        opacity: 1;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }

    header .list.sub-page .meun ul li a:hover {
        padding: 10px;
    }
}

/* End Header */

/* Start Blog Grid */

.blog nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.blog nav div {
    border: 1px solid #dee2e6;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 40px;
    cursor: pointer;
}

.blog nav div:not(div.active):hover {
    background-color: #e9ecef;
}

.blog nav div.active {
    color: white;
    background-color: var(--main-color, #E45F4E);
    border: none;
}


.blog nav div i {
    font-size: 12px;
}

/* End Blog Grid */